.jobDetail {
  width: 360px;
  height: 361px;
  display: flex;
  gap: 24px;
  position: absolute;
  top: 36px;
  right: 24px;
  left: 1344px;
  flex-direction: column;
  font-family: sans-serif;
}
.btns {
  width: 360px;
  height: 46px;
  display: flex;
  gap: 16px;
}
