.MainContent {
  width: 1728px;
  height: 1152px;
  position: relative;
  border: 0.0000001px solid #e7e7e7;
}
.line {
  width: 1319px;
  height: 1px;
  background-color: #e7e7e7;
  margin-top: 32px;
}
.line2 {
  width: 1320px;
  height: 1px;
  background-color: #e7e7e7;
  margin-top: 32px;
}
.line3 {
  height: 1152px;
  width: 1px;
  background-color: #e7e7e7;
  position: absolute;
  left: 1319px;
  top: 0px;
}
